body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
	background-image: url(images/bg.jpg);
	background-attachment: fixed;

}

h1, h2, h3, h4, h5, h6{
    text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.card{
    margin: 20px;
    display: inline-block;
}

.container_card {
	margin: 40px;
	margin-top: 100px;
	border-radius: 30px;
	background-color: rgba(237, 231, 225, 0.171);
	border-color: white;
	border: 10px;
}

header{
	font-family: 'Edu NSW ACT Foundation', cursive;
	color: white;
}

form{
	color: white;
}

textarea{
	height: 250px;
}

.banner{
	box-align: center;
}

.center{
	text-align: center;
}

.card{
	background-image: url(images/bg.jpg); 
	color: #fafafa;
}

.navbar{
	background-image: url(images/bg.jpg); 
}

.nav-link{
	color: #aaaaaa;
}

.nav-link:hover{
	color: #fafafa;
}

.align-right{
	align: right;
}

.container-fluid{
	margin: 0;
	padding: 0;
	background-attachment: fixed;
}


.alc{
	align-items: center;
	align-content: center;
}

.tw{
	color: white;
}

.border_img{
	border: 15px solid #ffffff;
	border-radius: 19px 19px 19px 19px;
}

.fixed{
	overflow: hidden;
}

