body{
    min-height: 100vh;
    font-family: 'Edu NSW ACT Foundation', cursive;
	background: url("images/background.jpg") no-repeat;
	background-attachment: fixed;

}

h1{
    text-align: center;
	color: white;
	font-family: 'Edu NSW ACT Foundation', cursive;
	font-size: 50px;
}
.card{
    margin: 20px;
    display: inline-block;
}

.container_card {
	margin: 40px;
	margin-top: 100px;
	border-radius: 30px;
	background-color: rgba(237, 231, 225, 50%);
	border-color: white;
	border: 10px;
}

header{
	font-family: 'Edu NSW ACT Foundation', cursive;
	color: white;
}

form{
	color: white;
}

textarea{
	height: 250px;
}

.banner{
	align: center;
}

.center{
	text-align: center;
}