{% extends 'base.html' %}

{% block content %}
<h1>Рецепти</h1>
<main>
	<div class="container_card">
		{% for recepie in recepies %}
		<div class="card" style="width: 18rem;">
			<img src={{recepie.img}} class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{recepie.title}}</h5>
				<p class="card-text">Інгредієнти: <br>{{recepie.ingredients}}</p>
				<a href={{recepie.link}} class="btn btn-primary">Посилання</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<a href="{{url_for('addin')}}" class="btn btn-primary">Додати рецепт</a>
</main>
{% endblock content %}