{% extends 'base.html' %}

{% block content %}
<h1>Головна сторінка</h1>
<main>
    <h1>
        Вітаю на Recepbook
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h2 class="alc">
                    Функціонал
                </h2>
                <p class="tw m-5">На цьому сайті ви можете шукати рецепти інших людей і 
                    ділитися своїми</p>
                <ul>
                    <li class="tw m-5">Для того, щоб переглядати і додавати рецепти, вам потрібно зареєструватися і увійти на сайт</li>
                    <li class="tw m-5">Після входу, зверху в навігаторі з'явиться</li>
                    <li class="tw m-5"></li>
                    <li class="tw m-5"></li>
                </ul>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</main>
{% endblock content %}