{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-7">
			<h2 class="text-white">Інгредієнти:</h2>
				<ul>
				{% for ingredient in recepie.ingredients.split(",") %}
				<li class="text-white">{{ingredient}}</li>
				{% endfor %}
				</ul>
				<h2 class="text-white ">Що потрібно зробити</h1>
				<p class="text-white">{{recepie.actions}}</p>		
		</div>
		<div class="col-5">
			<img src="{{ recepie.img }}" alt=""  class="img-fluid">
		</div>
	</div>
</div>

{% endblock content %}