{% extends 'base.html' %}

{% block title %}
<title>Рецепти</title>
{% endblock title %}

{% block content %}
<main>
    <h1>Твої Рецепти</h1>
    <!-- Головний контент сторінки -->
	<div class="container_card">
    {% for recepie in current_user.recepies %}
		<div class="card" style="width: 18rem;">
			<img src={{recepie.img}} class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{recepie.title}}</h5>
				<p class="card-text">Інгредієнти: <br>{{recepie.ingredients}}</p>
				{% if recepie.link != "" %}
				<a href={{recepie.link}} class="btn btn-primary">Посилання</a>
				{% endif %}
				<a href="{{ url_for('recepie_page', recepie_id = recepie.id)}}" class="align-left stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock content %}
    
