{% extends 'base.html' %}

{% block title %}
    <title>Recepies</title>
{% endblock title %}

{% block content %}
<main>
    <h1>Recepies</h1>
    <!-- Головний контент сторінки -->
	<div class="container_card">
    {% for recepie in recepies %}
		<div class="card" style="width: 18rem;">
			<img src="{{recepie.img}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{recepie.title}}</h5>
				<a href="{{ url_for('recepie_page', recepie_id = recepie.id)}}" class="align-left stretched-link"></a>
			</div>
		</div>
		{% endfor %}
	</div>

</main>
{% endblock content %}
    
